USE [master]
GO
/****** Objeto: Database [Biblioteca] Fecha de script: 9/13/2026 5:59:49 PM ******/
CREATE DATABASE [Biblioteca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Biblioteca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Biblioteca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Biblioteca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Biblioteca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biblioteca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biblioteca]
GO
/****** Objeto: Table [dbo].[Autores] Fecha de script: 9/13/2026 5:59:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores](
	[ID_Autor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[Nacionalidad] [nvarchar](50) NOT NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Autor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Categorias] Fecha de script: 9/13/2026 5:59:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[ID_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetallePrestamos] Fecha de script: 9/13/2026 5:59:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePrestamos](
	[ID_Detalle] [int] IDENTITY(1,1) NOT NULL,
	[ID_Prestamo] [int] NOT NULL,
	[ID_Libro] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Libros] Fecha de script: 9/13/2026 5:59:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[ID_Libro] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[ISBN] [nvarchar](20) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Disponible] [int] NOT NULL,
	[ID_Autor] [int] NOT NULL,
	[ID_Categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Prestamos] Fecha de script: 9/13/2026 5:59:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[ID_Prestamo] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Fecha_Prestamo] [date] NOT NULL,
	[Fecha_Devolucion_Esperada] [date] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Prestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 9/13/2026 5:59:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Programa_Academico] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autores] ON 

INSERT [dbo].[Autores] ([ID_Autor], [Nombre], [Apellidos], [Nacionalidad], [Fecha_Nacimiento]) VALUES (1, N'Abraham', N'Ahmad', N'Pakistán', CAST(N'1995-08-14' AS Date))
INSERT [dbo].[Autores] ([ID_Autor], [Nombre], [Apellidos], [Nacionalidad], [Fecha_Nacimiento]) VALUES (2, N'C.', N'Pérez', N'Colombia', CAST(N'1998-03-22' AS Date))
INSERT [dbo].[Autores] ([ID_Autor], [Nombre], [Apellidos], [Nacionalidad], [Fecha_Nacimiento]) VALUES (3, N'D.', N'Schmidt', N'Alemania', CAST(N'1992-11-05' AS Date))
SET IDENTITY_INSERT [dbo].[Autores] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([ID_Categoria], [Nombre]) VALUES (2, N'Bases de datos')
INSERT [dbo].[Categorias] ([ID_Categoria], [Nombre]) VALUES (5, N'Electrónica')
INSERT [dbo].[Categorias] ([ID_Categoria], [Nombre]) VALUES (6, N'Inteligencia Artificial')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallePrestamos] ON 

INSERT [dbo].[DetallePrestamos] ([ID_Detalle], [ID_Prestamo], [ID_Libro], [Cantidad]) VALUES (1, 1, 2, 1)
INSERT [dbo].[DetallePrestamos] ([ID_Detalle], [ID_Prestamo], [ID_Libro], [Cantidad]) VALUES (2, 2, 4, 1)
INSERT [dbo].[DetallePrestamos] ([ID_Detalle], [ID_Prestamo], [ID_Libro], [Cantidad]) VALUES (3, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[DetallePrestamos] OFF
GO
SET IDENTITY_INSERT [dbo].[Libros] ON 

INSERT [dbo].[Libros] ([ID_Libro], [Codigo], [Titulo], [ISBN], [Cantidad], [Disponible], [ID_Autor], [ID_Categoria]) VALUES (1, N'LIB001', N'50 algoritmos que todo programador debe conocer', N'978-1789801217', 3, 3, 1, 1)
INSERT [dbo].[Libros] ([ID_Libro], [Codigo], [Titulo], [ISBN], [Cantidad], [Disponible], [ID_Autor], [ID_Categoria]) VALUES (2, N'LIB002', N'Sistemas de Big Data', N'978-8426728451', 4, 4, 2, 2)
INSERT [dbo].[Libros] ([ID_Libro], [Codigo], [Titulo], [ISBN], [Cantidad], [Disponible], [ID_Autor], [ID_Categoria]) VALUES (3, N'LIB003', N'Raspberry Pi', N'978-8426728468', 2, 2, 3, 5)
SET IDENTITY_INSERT [dbo].[Libros] OFF
GO
SET IDENTITY_INSERT [dbo].[Prestamos] ON 

INSERT [dbo].[Prestamos] ([ID_Prestamo], [ID_Usuario], [Fecha_Prestamo], [Fecha_Devolucion_Esperada], [Estado]) VALUES (1, 2, CAST(N'2026-02-03' AS Date), CAST(N'2026-02-05' AS Date), N'Devuelto')
INSERT [dbo].[Prestamos] ([ID_Prestamo], [ID_Usuario], [Fecha_Prestamo], [Fecha_Devolucion_Esperada], [Estado]) VALUES (2, 3, CAST(N'2026-02-04' AS Date), CAST(N'2026-02-07' AS Date), N'Devuelto')
INSERT [dbo].[Prestamos] ([ID_Prestamo], [ID_Usuario], [Fecha_Prestamo], [Fecha_Devolucion_Esperada], [Estado]) VALUES (3, 6, CAST(N'2026-02-05' AS Date), CAST(N'2026-02-10' AS Date), N'Devuelto')
SET IDENTITY_INSERT [dbo].[Prestamos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID_Usuario], [Documento], [Nombre], [Apellidos], [Telefono], [Correo], [Programa_Academico]) VALUES (1, N'1001111111', N'Juan', N'Pérez', N'3011111111', N'juan.perez.est@gmail.com', N'Ingeniería en Sistemas')
INSERT [dbo].[Usuarios] ([ID_Usuario], [Documento], [Nombre], [Apellidos], [Telefono], [Correo], [Programa_Academico]) VALUES (2, N'1001111112', N'María', N'López', N'3011111112', N'maria.lopez2003@gmail.com', N'Contabilidad')
INSERT [dbo].[Usuarios] ([ID_Usuario], [Documento], [Nombre], [Apellidos], [Telefono], [Correo], [Programa_Academico]) VALUES (3, N'1001111113', N'Carlos', N'Rodríguez', N'3011111113', N'carlos.rodriguez.dev@gmail.com', N'Ingeniería Civil')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Categori__75E3EFCFC2682478] Fecha de script: 9/13/2026 5:59:50 PM ******/
ALTER TABLE [dbo].[Categorias] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Libros__06370DAC4222C958] Fecha de script: 9/13/2026 5:59:50 PM ******/
ALTER TABLE [dbo].[Libros] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Libros__447D36EA9C3BC7AD] Fecha de script: 9/13/2026 5:59:50 PM ******/
ALTER TABLE [dbo].[Libros] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__AF73706D68667BC9] Fecha de script: 9/13/2026 5:59:50 PM ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((0)) FOR [Disponible]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT (getdate()) FOR [Fecha_Prestamo]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[DetallePrestamos]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Libro] FOREIGN KEY([ID_Libro])
REFERENCES [dbo].[Libros] ([ID_Libro])
GO
ALTER TABLE [dbo].[DetallePrestamos] CHECK CONSTRAINT [FK_Detalle_Libro]
GO
ALTER TABLE [dbo].[DetallePrestamos]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Prestamo] FOREIGN KEY([ID_Prestamo])
REFERENCES [dbo].[Prestamos] ([ID_Prestamo])
GO
ALTER TABLE [dbo].[DetallePrestamos] CHECK CONSTRAINT [FK_Detalle_Prestamo]
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD  CONSTRAINT [FK_Libros_Autor] FOREIGN KEY([ID_Autor])
REFERENCES [dbo].[Autores] ([ID_Autor])
GO
ALTER TABLE [dbo].[Libros] CHECK CONSTRAINT [FK_Libros_Autor]
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD  CONSTRAINT [FK_Libros_Categoria] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categorias] ([ID_Categoria])
GO
ALTER TABLE [dbo].[Libros] CHECK CONSTRAINT [FK_Libros_Categoria]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Usuario]
GO
ALTER TABLE [dbo].[DetallePrestamos]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
USE [master]
GO
